<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Blogger</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/views/partials/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap" rel="stylesheet">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&family=Open+Sans:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap" rel="stylesheet">
  <nav class="navbar  navbar-default">
    <div class="container">
      <div class="navbar-header navbar-light  ">
        <p class="navbar-brand">My Blogger</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="getAPp"><a href="https://www.github.com/sunny52525">GET THE APP</a></li>
          <li id="contact"><a href="mailto:kumarsunny3232@gmail.com">CONTACT</a></li>
        </ul>
    </div>
  </nav>  

  <body>
    <div class="container">
