
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <a   class="heading" href="#">My Blogger</a>
            </div>
            <div class="nav_right">
                <ul>
                    <li class="nr_li dd_main">
                        <img class="img" src=<%-profileImg%> alt="profile_img"> 

                        <div class="dd_menu">
                            <div class="dd_left">
                                <ul>
                                    <li> <i class="fas fa-user-alt    "></i></li>
                                    <li> <i class="fas fa-home" aria-hidden="true"></i></li>
                                    <li> <i class="fas fa-cog    "></i></li>
                                    <li> <i class="fas fa-sign-out-alt    "></i></li>
                                </ul>
                            </div>
                            <div class="dd_right">
                                <ul>
                                    <li>Profile</li>
                                    <li>Homepage</li>
                                    <li>Settings</li>
                                    <li>Logout</li>
                                </ul>
                                <li class="nr_li">
                                    
                                    <i class="fas fa-envelope-open-text"></i>
                                </li>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>