
    
     <link rel="stylesheet" href="/public/homepage/styles.css">
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <a   class="heading" href="#">My Blogger</a>
            </div>
            <div class="nav_right">
                <ul>
                    <li class="nr_li dd_main">
                        <img class="img" src=<%-profileImg%> alt="profile_img"> 

                        <div class="dd_menu">
                            <div class="dd_left">
                                <ul>
                                  
                                  <li>
                                    <a href="signout">
                                        <i class="fa fa-sign-in-alt    "></i>
                                         </a> 
                                     
                                  </li>
                                </ul>
                            </div>
                            <div class="dd_right">
                                <ul>
                                    
                                  
                                    <li><a href="signout">Signin </a> </li>
                                </ul>
                                <li class="nr_li">  
                                </li>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>