body{
    background-color: #21242c;
    background-image: -webkit-linear-gradient(65deg, #E4E9FD 30%, #21242c 30%);
    height: 1100px;

}

html{
    text-align: center;
    height: min-content !important;
}

h1{
    font-family: 'Recursive', sans-serif;
    color: cornsilk;
    margin-top: 150px !important;
    text-align: center;
    margin-bottom: 30px !important;
    
}
h3{
    color: blanchedalmond;
}
.signin-box{
    width: min-content;
    height: 300px;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    opacity: .9;
    margin: 70px auto;

}
.btn{
text-align: center;
display: grid;

width: 250px;
margin-top: 100px;


    
}
.wrapper{
    text-align: center;
    
}

.firebaseui-provider-sign-in-footer>.firebaseui-tos {
    color: floralwhite !important;
}

.navbar-brand{

    font-family: 'Rowdies', cursive;
}
.guest{

    width: 100%;
}
#skip{
    opacity: 0.7;
    text-align: center;
    color: white;
}